output/win64/*
output/win32/*
samples/trace/
samples/log.txt
.hbmk
.history
.vscode
go32.bat
go64.bat
build64.bat
build32.bat
mod_harbour.v2.code-workspace
# exception to the rule
!output/win64/.gitkeep 
!output/win32/.gitkeep 

